.box-central{
    /*max-width: 950px;*/
    width: 40%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    font-family: Marker Felt, fantasy;
    font-size: 15px;
}

.box-central:hover{
    box-shadow: 1px -4px 11px 5px;
}

.mgright{
    margin-right: 100px;
}

.mgleft{
    margin-left: 100px;
}

.relgrow{
    flex-grow: 2;
    margin-left: 130px;
    margin-right: 130px;
}

.dispflex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin:0px 0px 0px 0px;
}

.disinput{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 30px 20px 30px 20px;
}
.visible{
    visibility:hidden;
}

/*.divisor{
    position: absolute;
    padding-top: 33%;
    width: 100%;
    background-color: rgb(28, 137, 226);
    z-index: 1;
}*/

.tabela{
    text-align: center;
    border-collapse: collapse;
    vertical-align: middle;
}

.tabela, th, td{
    padding-left: 5%;
}


td{
    text-align: center;
    vertical-align: middle;
}
h2{
    text-align: center;
    height: 2%;
    font-family: Impact, fantasy; 
    background-color:#FFF;
}

input{
    color: black;
    outline: 2px solid aqua;
}

.inputflex{
    width: 35%;
}

hr{
    border:hidden;
}

.box-central{
    
    background-color: #FFF;
}
body{
    max-width: auto;
    min-width: 500px;
    max-height: auto;
    min-height: 600px;
    background-image: linear-gradient(rgb(28, 137, 226), white 90%);
    background-repeat: no-repeat;

}

.botao{  
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    padding: 0px 35px 0px 35px;
}


.titulo{
    position: absolute;
    padding-left: 35%;
    padding-right: 20%;
}

input{
    position: inherit;
    font-size: 12px;
    font-weight: bold;
}

.teste{
    position: relative;
    width: 100px;
    height: 30px;
}
.teste::before{
    content: "";
    position: absolute;
    left: -12px;
    top: 7px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 5px solid yellow;
    border-left: 5px solid transparent;
    vertical-align: text-top;
}


.fa-calculator{
    font-size: 6em; 
    display: inline-flex;
}

.fas{
    display: inline-flex;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}