.box-central{
    width: 48%;
    height: auto;
    margin: 2% 10px;
    border-radius: 10px;
    font-family: Marker Felt, fantasy;
    font-size: 15px;
    background-color: #FFF;
}

.ulcenter, .li {
    list-style: none;
    display: inline-table;
    color: white;
    height: 125px;
    width: 120px;
    text-align:center;
    padding-top: 50px;

}

.ulcenter{
    display: flex;
    justify-content: center;
}

.ulcenter, .li:hover{
    background-color: white;
    color: black;
}

.info{
    position: absolute;
}


.imgheader{
    display: inline-block;
    height: 125px;
    width: 125px;
}

.header{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    width: auto;
    margin: 0px auto;
    background-color: black;
    z-index: 100;
}
.btn{
    background-color: black;
}
.btn:hover{
    background-color: gray;
    color: oldlace;
}


.box-central:hover{
    box-shadow: 1px -4px 11px 5px;

}

.mgright{
    margin-right: 3%;
}

.mgbottom {
    margin-bottom: 2%;
}

.mgleft{
    margin-left: 3%px;
}

.relgrow{
    flex-grow:2;
    margin: 2% 5%;
}

.dispflex{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: auto;
    max-width: 1200px;
    margin: 0% auto;
}

.disinput{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 30px 20px 30px 20px;
}
.visible{
    visibility:hidden;
}

/*.divisor{
    position: absolute;
    padding-top: 33%;
    width: 100%;
    background-color: rgb(28, 137, 226);
    z-index: 1;
}*/


.tabela{
    margin-bottom: 2%;
    text-align: center;
    padding-left: 8%;
   
}


td{
    text-align: center;
    vertical-align: middle;
}

.fonth2{
    text-align: center;
    font-size: 2.56rem;;
    font-family: Impact, fantasy; 
    background-color:#FFF;
}

input{
    color: black;
    outline: 2px solid aqua;
}

.inputflex{
    width: 35%;
}

hr{
    border:hidden;
}


body{
    background-repeat: no-repeat;
}

.botao{  
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    margin: 4% 7%;

}


.titulo{
    position: absolute;
    padding-left: 35%;
    padding-right: 20%;
}

input{
    position: inherit;
    font-size: 12px;
    font-weight: bold;
}

.teste{
    position: relative;
    width: 100px;
    height: 30px;
}
.teste::before{
    content: "";
    position: absolute;
    left: -12px;
    top: 7px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 5px solid yellow;
    border-left: 5px solid transparent;
    vertical-align: text-top;
}


.fa-calculator{
    font-size: 6em; 
    display: inline-flex;
}

.fas{
    display: inline-flex;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

.footer{
    background-color: black;
    color: white;
    padding-bottom: 2%;
}

.containerfooter{
    text-align: center;
}
